listen: ":{{ route.port }}"

tls:
  cert: {{ remote_dir }}/certs/server.crt
  key: {{ remote_dir }}/certs/server.key
  sniGuard: disable

auth:
  type: password
  password: "{{ node.password }}"

trafficStats:
  listen: 127.0.0.1:{{ route.stats_port }}
  secret: "{{ route.stats_secret }}"

outbounds:
  - name: {% if route.entry.entry_override_host %}local_client{% else %}local-client{% endif %}
    type: socks5
    socks5:
      addr: 127.0.0.1:{{ route.socks_port }}

{% if route.entry.entry_override_host -%}
acl:
  inline:
    - direct({{ route.entry.entry_override_host }}, *, {{ route.entry.entry_override_address }})
    - local_client(all)
{% endif -%}

masquerade:
  type: proxy
  proxy:
    url: {{ masquerade_url }}
    rewriteHost: true
